Leah_Scrapper_DONt_EDIT_.json
{
  "name": "Leah Scrapper    (DONt EDIT)",
  "nodes": [
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        -192
      ],
      "id": "41390e29-6ed0-4584-bf79-510ce71468b6",
      "name": "Wait",
      "webhookId": "<REDACTED_WEBHOOK_ID>"
    },
    {
      "parameters": {
        "formTitle": "Apollo Lead Extraction",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Apollo URL",
              "placeholder": "Enter your Apollo People URL",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of Leads to be scrapped",
              "fieldType": "number",
              "placeholder": "500",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "799b07a9-4161-4e1e-bfad-f9ea05ff3c5e",
      "name": "Form submission",
      "webhookId": "<REDACTED_WEBHOOK_ID>"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/<REDACTED_ACTOR_ID>/run-sync-get-dataset-items?token=<APIFY_API_TOKEN>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"include_email\": true,\n  \"url\": \"{{$json['Apollo URL']}}\",\n  \"totalRecords\": {{ $json['Number of Leads to be scrapped'] }}\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "a0b5a9c4-b93a-4809-8ed8-94ff53a1098c",
      "name": "Scrapping Data from Apollo"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const person = item.json;\n  return {\n    json: {\n      id: person.id ?? \"N/A\",\n      first_name: person.first_name ?? \"N/A\",\n      last_name: person.last_name ?? \"N/A\",\n      name: `${person.first_name ?? \"\"} ${person.last_name ?? \"\"}`.trim() || \"N/A\",\n      email: person.email ?? \"N/A\",\n      company: person.organization_name ?? \"N/A\",\n      linkedin: person.linkedin_url ?? \"N/A\",\n      location: `${person.city ?? \"\"}, ${person.state ?? \"\"}`.trim() || \"N/A\",\n      title: person.title ?? \"N/A\",\n      email_status: \"Nil\"   // placeholder until Reoon updates\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "8c323ab0-178e-43e0-912c-92ea961b0045",
      "name": "Cleaning the Data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{$node[\"Create sheet1\"].json.spreadsheetId}}\n",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$node[\"Create sheet1\"].json.title.trim()}}\n",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "email_status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "spreadsheetId",
              "displayName": "spreadsheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sheetId",
              "displayName": "sheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sheetType",
              "displayName": "sheetType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gridProperties",
              "displayName": "gridProperties",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3568,
        16
      ],
      "id": "912544bc-efb8-4c63-89a1-f90674be96d4",
      "name": "updating email status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<REDACTED_CREDENTIAL_ID>", "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{$node[\"Create sheet1\"].json.spreadsheetId}}\n",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$node[\"Create sheet1\"].json.title.trim()}}\n",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "spreadsheetId",
              "displayName": "spreadsheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sheetId",
              "displayName": "sheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sheetType",
              "displayName": "sheetType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gridProperties",
              "displayName": "gridProperties",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1328,
        -32
      ],
      "id": "4b3b5197-a0b1-44c2-927f-d345afafc920",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<REDACTED_CREDENTIAL_ID>", "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1kfJHzXeaDW58nmwT1RBJ0coYXMa3bEPZKsyZS_OzlMo",
          "mode": "list",
          "cachedResultName": "Leah Sheet 121",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<REDACTED_SHEET_ID>/edit?usp=drivesdk"
        },
        "title": "=Apollo_Leads_{{$now.toFormat(\"yyyy-MM-dd_HH-mm-ss\")}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        160
      ],
      "id": "19230e91-3757-43dc-b741-d3996aa9b410",
      "name": "Create sheet1",
      "executeOnce": true,
      "notesInFlow": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<REDACTED_CREDENTIAL_ID>", "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://emailverifier.reoon.com/api/v1/get-result-bulk-verification-task/?key=<REDACTED_API_KEY>&task_id={{ $json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2896,
        16
      ],
      "id": "b8394781-ceda-4117-8062-8261f7898ddb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst emails = items.map((item) => `\"${item?.json?.email}\"`);\nconst result = emails.join(\", \");\n\nreturn { result };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        -16
      ],
      "id": "dd8e6467-a768-4371-bc4d-a4a047085cec",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const verificationReport = items[0]?.json || {};\nconst results = verificationReport.results || {};  // default to empty object\n\n// Turn results object into array\nconst emailDetailsArray = Object.values(results);\n\n// Map into clean format\nconst extractedData = emailDetailsArray.map(detail => ({\n  email: detail.email || \"\",\n  status: detail.status || \"unknown\",\n  overall_score: detail.overall_score ?? null,\n}));\n\n// If no data, still return empty array to avoid n8n error\nreturn extractedData.length > 0\n  ? extractedData.map(item => ({ json: item }))\n  : [{ json: { error: \"No results from Reoon\" } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        16
      ],
      "id": "e5483a7f-af22-4ea8-a757-de70c302d2e1",
      "name": "Code3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2640,
        0
      ],
      "id": "2e0f83f3-f506-4319-949f-eb9e31eb306b",
      "name": "Wait2",
      "webhookId": "<REDACTED_WEBHOOK_ID>"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://emailverifier.reoon.com/api/v1/create-bulk-verification-task/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"emails\": $json.result.split(\",\").map(e => e.trim().replace(/^\"|\"$/g, \"\")), \"key\": \"<REOON_API_KEY>\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        -32
      ],
      "id": "476f8444-aa97-4c65-afa6-52b4210e36dc",
      "name": "Email Verification1",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -32
      ],
      "id": "326d38bb-d5ce-458b-a98b-23c4698e7cd8",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa68b48c-d45e-469d-ba3f-1b9d97b11b4f",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b5778acd-8a9b-4346-a2cb-b00414d1f58c",
              "leftValue": "={{ $('Cleaning the Data').item.json.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1872,
        -32
      ],
      "id": "b05c8172-2b0b-4708-af97-4b78c027b718",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aimfox.com/api/v2/campaigns/e29ae2cb-5c77-47b2-89e8-f4d639a25b53/audience/multiple",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <HEYREACH_API_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"profile_url\",\n  \"profiles\": [\n    {\n      \"profile_url\": \"{{ $('Append or update row in sheet').item.json.linkedin }}\",\n      \"custom_variables\": {\n        \"first_name\": \"{{$json.first_name}}\",\n        \"last_name\": \"{{$json.last_name}}\",\n        \"location\": \"{{ $('Append or update row in sheet').item.json.location }}\",\n        \"email\": \"{{$json.email}}\",\n        \"company_domain\": \"{{$json.organization}}\",\n        \"source\": \"n8n\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        -16
      ],
      "id": "54075797-a79d-4fbd-b739-28157e96243c",
      "name": "aimfox"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <INSTANTLY_API_KEY_BASE64>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign\": \"3aab4c27-52d8-4006-a61e-99f4d76fe3f6\",\n  \"first_name\": \"\",\n  \"last_name\": \"{{ $('Scrapping Data from Apollo').item.json.last_name }}\",\n  \"email\": \"{{$json.email}}\",\n  \"company_name\": \"{{ $('Cleaning the Data').item.json.company }}\",\n  \"linkedin_url\": \"{{ $('Cleaning the Data').item.json.linkedin }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4096,
        -144
      ],
      "id": "89d53ed5-6b70-461a-b41d-520455e8a7c9",
      "name": "Instantly"
    },
    {
      "parameters": {
        "content": "### Please Don't Touch the Flow. Duplicate it if needed\n",
        "height": 80,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        -224
      ],
      "id": "7835a6f7-2b99-4ba1-850c-d3b809e897d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c554c492-879f-402b-bb49-0d6c57508d75",
              "leftValue": "={{ $json.status }}",
              "rightValue": "safe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3792,
        0
      ],
      "id": "cbb89e32-02aa-4b64-bc9f-cdf3ae020fcf",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1563284-6ab1-4c90-a46a-539f123fc6cf",
              "leftValue": "={{ $json.progress_percentage }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3088,
        32
      ],
      "id": "927b51da-5760-4480-b7b6-f4f9b5eef4fb",
      "name": "If2"
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form submission": {
      "main": [
        [
          {
            "node": "Scrapping Data from Apollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrapping Data from Apollo": {
      "main": [
        [
          {
            "node": "Cleaning the Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaning the Data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "aimfox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Email Verification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Verification1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updating email status": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instantly": {
      "main": [
        []
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "updating email status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Instantly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aimfox": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}